# Copyright 2016 The ChromiumOS Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Unit]
Description=VPD information dump for chrome://system
After=boot-services.target
[Service]
Type=oneshot
ExecStart=/usr/sbin/dump_vpd_log
